Source: mihphoto
Section: user/graphics
Priority: optional
Maintainer: Christian Weniger <less_to_space@web.de>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    qtbase5-dev-tools,
    qt5-qmake,
    qt5-default,
    libqt5svg5-dev,
    cdbs
Standards-Version: 3.9.6
Homepage: https://sites.google.com/site/mihplaesu/projects/mihphoto
XSBC-Bugtracker: https://github.com/maemo-leste-extras/mihphoto/issues
Vcs-Git: https://github.com/maemo-leste-extras/mihphoto/
Vcs-Browser: https://github.com/maemo-leste-extras/mihphoto/

Package: mihphoto
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
    libqt5gui5,
    libqt5widgets5,
    libqt5core5a,
    qt5-style-plugins
Description: MihPhoto is meant to be a simple touchscreen-friendly image viewer.
  There a lot of very good image viewers, including many opensource ones, but most of them are very difficult to handle on a touchscreen. 
  This application was designed with touchscreens in mind so it is most useful if you have a touchscreen. 
  To use the application just open an image; then you can use the a swipe gesture to browse trough all the images located in the same folder as the first one.
XB-Maemo-Display-Name: mihphoto
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhk
 iAAAAAlwSFlzAAAFMwAABTMByBPr2wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3Nj
 YXBlLm9yZ5vuPBoAAA70SURBVGiB3Zp5kFzVdcZ/9y29zj7dPatG22iBAVmgEUIC
 HLYQZBZHwiQYG5IQG9sBjAlQqbhwIttV2cqxUxiLYg+47HLAJQWMLAggCUsGCcny
 aEMjaSTNjDSatbtnenp9280fr7tnmpmBwSGuSk7Vq9v17nvnne+cu5z7nRZSSibL
 ShG+WcJaAe0SlgEeZikCECJ/FW4ASJCAlPlrtgpdMQQclLBPwNa9cviVkm8WAFwq
 6uos5OMg130c7YoAVREoAhTFtVkRrvGT7AcJTt54x3F/247E+ZhoQGzWEF/bLQcH
 iwBc452DQGSm1xwkoxgYOARQqVR1vIqSBwBKAYSYiMRkKXjeyQNxHImdB2I5Etv+
 WJEZ0lCW7ZaDgxqA6/mZjU9icopxTJziPdUWhIWXsOohrHnwqy4YkQcBH4hA3ngp
 C94vGA+aDZbiArHsWQGI5G1eL9oJ3Szh5ZmePEeaQTKEK6u5avVl7Nr9Dn2j0RJv
 CaDe46XVH6DB6y1GYbo54EbA9b57ub8tByxbYtpg2rMbWgI+q0lYO9MDOWwGSCOB
 /9y8mUuv+jQAxw4d5ulHH+XVLVs4MdCPLSX9Ro5+I4dfVVgUDNAa8FOlawX7ixPY
 mRSBwmU5oNrSnUuKO5dM+6OjIWGtaCe0V0L7dA8Mk6WXJCF/GcPp8WmVnOrs5Hsb
 /p5NW37JYDJZ0hfy6iwK+llU5ieoqji4Y78UgJzi/UJrWG47kwjYJ1YQyjHDUnlS
 JBiVBjdc/ge8unPHh7sD2PrSizy78TG273mPaCZX0tcc8NJWEWBh0IdAfMD4PAAn
 D8CSGDZua4ExMwhDrCA0ba+qwj47ioPkJ08+xe1f/tJHAiiI49i8/O/P8PTjG3n7
 wGFS5sRY8CiChWV+FgR9NPs9KFLBzE/egvcNa6I1LEnuQyKhTHdTUyGjmDhIqgM+
 Ih4L08hN9+j0ShWVdXfdzZa9HQyNjPCDbz7MxfOaUITAcCRHE2m29Md48tQAm/pH
 OJBIkpY2Xk3g0XBbFTyaQM/f09TpvzUlAooAry4468nSnRznzs+s5PY/WkFqLENl
 04Vcc9eDswbyQenv7eG5R7/PG6+/xv7jp0gYVkl/ta4xP+Bnod+P4ijkJkUgZ0ly
 5tTVaQoArybQdNhtxjAsm+e+dTsNoQoApJSE5l1O+2e/+DuDKIiRTrHp6cf56Qsv
 sOtwJ/GcWezThGB+wE+Lx0+Z0MiZeRCmJGeVIigZQpoKugopj4Nh2SxrbSwaDyCE
 4NzRbXTvfxfbNPmfiCcQ5LavP8Qr+w7SH43xzD9+lwvnNAJgScmJVJq34lG2j0Xp
 sdKYwkZXpw6lYgQE7tDx6YJTQYPTw6O0rTiP+sYwDX6dP76ohbKAt/iiY9lgaVz3
 wL+h6rPO9z5SDu7dw79s2MArb21jPGeU9AUVlQYRoNKesKMIQFPBpwlszWFXKoru
 0Vl17SpEPqlprfDyp5e2TvmgncpywbV30LLy6k8MBIDjOPzH00/x1MbH2XP4CGl7
 Yr7oKITw0UBgAoBPF3h1wWgl7O8fItIUYcnyJSVKV0bKWLO4viQSAEiJZgmW3fAl
 wktXfKJAAMaiUR65/xv8+Oc/ZyyXLd5vo9oFoAgXgN8jOOTJ0h9L0HphKw0tDVOU
 CeC6+bW0L6qf+iXHoTpYy8Vf/Caav+wTB2JbFmtXreGN/XvxKCoXONXuJFYVgaqA
 N+ihP5YAoCZcM60SCbzRHeVUf3xqp6IQz8TZsfEb9Lz90icOQNU04vERAJpEwD17
 APnDiECG3KFRUV2B1++dUZEjYdORfnoHx6btt3WdzgPb2LPx62TjA58YgG2bN9PR
 00O16qFB+AAQ7YSkz+OuPoNhhUPdAyxZvoRI04zHgxJpLfdy5ZIG6mqC0/artkmo
 vIq5l91C9dJVIKbd/D9STNOkta6es/EYqwO1CEsha0iU4vlVg/d7h1AUhdr62lkr
 7hrP8cy+bv6ro2faflvVOR0b5flnfsCb37uL7MjZ3wnAI/fdS288xlxvgKCiFk99
 WuEElavQsMccqsPVKMrH85IE9g4l8R05y6fbmov3Tdthx6Gz7Dh+jr7eAQLS5jvx
 JJ978FG8tY2z1p+Ixdj47HOoQrDEH0RaFE9/arMIbNA0wWklS05COpkmmUjiOA7+
 gP9jgTkznqNKEVQEPJzuH+WFXcd4dftv6ek6w/jYOPFEmjnNESr691K/5BK0QMVH
 KwX++s/v5NeHDrMkEKRe9xYPQbYNYpUakj5d4F1cyRuHTjKZZlFUhdq6Wupb6qmq
 rZo1EICx6BjH9h/lb++8BtW0+Nbzb1Ie9PPjDV/A59HwpsZpv3MDZU1TN8fJEh8a
 ZG5zMznb4cZQCGkJMqYka0oypkRtVgIbdFWgJwzWLGpi6dImUrZDIpnBcSTp8TRD
 Z4cY6hvCMix0j47H++GpQ3QwSudvjvLwbZdx2flz+f7LexiJj3P7Zy5heau7t9ge
 L30HdlBWHqKsrmVGXffedit7Oo9zcWU5Ed3jHn6ciUusUtxVyJ/Pg/y6oLLKR8PS
 Bnb2Rdl9tJdkKlui1B/0E2oIEWmMECgPlPTFhmJ07j/K/etXs351K49tOcyLO35L
 W3sb9/3hMlrC5aUWOg6RukVc9PmHphh/rqebBQsXIoBbGyJYJiXezxoStUkENuiK
 QFMEuirQVAG2TW5kjCbb5PrFDbRf1EpO0YiNp7EsG8u0SMQS9Pf0kxxLoqgKiqKQ
 TWU5svcw665o4/6bLuFHWzr4yZv7mb90PpGmCD3RJOUehXCFf8JKIUil45z+1S+o
 X9yOJzgB8J47Ps/+YydYXBZgjs9X9Lppu8dQ0wGxUrhzwO+ZiIBPF0xExU0zAh6F
 2rl1vG/pvH7kDEdP9mHbTt4GQbgxTDI2xmXnN/PEhgd4eetWHnxiK8HyIJ9a86li
 UggQ9mmsmReibU5NyX07k2PBihtYeu0tWKZBbXkZiZzJ2roaIpp3wvOmJGO4rTaZ
 MZtMeziOzFOAosiejZ0dpMq2aTDS9Hg0xjNuuiulhEyWf737Rv7kKw+zc9Nj/MNL
 7xAsC9K2sq3ESIDhrMXLnQPsODnMmrm1XDQ/hBAC1e+l+8gb9B56l2ElQiJnoiuC
 Bq8H0yq1sUDVaJO5ygLp5LYCexL9kbUkO0fSDKPSUhfhyytCaH4v50YSRIJe/uru
 r1J3wWq2Pftt7n38NcbGU1imxfGO4yxoW4A/6OeDMmbabO0aYndvlCvm1nLhvDBC
 CKSaYtOLzwPQ6PMgEHm75CQHuyA0KOUqbUeUkE62A8M27EtZ3HbDahaHK1AVDa/P
 j7+8mrLqCPPX3IjHF2Dns49w34+20DcYAwRSSmLDMeJvxwk1hGic10hF9dS1P27Y
 vHJiiHd6orRFylnaXMP7fVF3uHk9H7BHFrklCgBcek9MYcxsR9KFIBvw89D6dpZd
 vo7zrl2HomolBmRHR9j5xMNs/nUnvQMxrjy/mVvPq+KFwzHeO96PlJLhc8MMnxvG
 H/QTbgxTN6cOn99XomfEsHn77Cjbe2OcODMMQEjXS2yasFFOACiExXJAy0cia0v2
 SYvlrXP4wqoV3PjAP1FWE5riveTgGXY993cM5yye3boXVVVIJsaZ73jY0OZjaEEL
 r/UbvN4VJ5bMkkll6D3RS29XLzXhGpoXNlNZU1mqcyyJbTuoQhDyeLAtmXeyS4QV
 7C0CAHeSajbYiiClK4xX69xz3RqWLruKa+66b4rhANHTnez52T+TVRS+/eRWLEfi
 OA5lqrtbCgHlmsLnmn2sb2qgM5Zj20CWXb2jmLZDbChGbChGsCJIuCFMbX0tgbIA
 Y1E3TW/yeRGOcFnrQhRsiTWJWykCsG0wFEnUL1mwIMSdV6/g0lvuY8HyldMa39vx
 Dgdfewo96OOHL7zJyXNRNF3DcRxsx13iJtPrjoSWoIc7Fni4qTHItr5xdg2kGM2a
 pBIpUokU3ce60TQNKd3l+fyyIJYtJ65JOdAUAAYOst7LV25up6K8mnV/80P8ZdMn
 Wwd++TPOHnkTPeDj8Ml+dvymq2SpPDScYjRbiU9155UQ+eXPAVuCLgTXNFRwRaSc
 46NZ3o9nGDQlOUXBkJJkOkdbWZBaTc/TihP0u+XIEmpfK3joksvnceOVi/GFqhgc
 Uel46zUaFi7G4wug6V6kbdC1ewe9B3dQ3VCO5tUBONh1DoDyiiCKrjE6Mspo1uK7
 HSNkcyZJw+KetjCtlb4iADvPhVoONPu91Hm8GHlS90zKoKKsDMumyE5PMNZModw1
 cA80a68+D1+tu43XhW0SPdtJ9Gx3h5dlo+YZpZrG0qgcygMwTYumOfWMRccQQpC0
 HJJZl/w6GMvR5PciJZP2ljyhW2jzjHS1prvkrpUnea3JtPtUgtcFICBYWz6lsyDq
 TMwqkEq7pG8mnaXv1FmuXb6Q21ctYW80zcaXXAeEm+vIGpniRjQttV6oCdiTjLdx
 afa88dNVbfIAJsavtB0QAqGIqU9PIw/dcTUdHaeo9+m0RqpQhSBu2fSk3TQj4POw
 rCpIui/9AQDTRGEaer1QI5ipWqMBBvkCR3ZolFw0UexUPBqq14Ma8OKtmT5CLfU1
 tFxfg5XOkT4XZW80zXtjOU539lJTEeTPls8j1j00USNzZOkwmkWB40OqNIYm4KAQ
 oh3AGC0tETmGhWNY2DlzRgAFGR3P8Iu+BF3Rcbo6jtM+L8x53hC5sy5/JCX/GyWm
 g5qEfYoq2u2M4Q6faSQtBJl4kqDPg5EysWwNaWeJNFZiprIcOD3MjoFxuk700nOs
 hyq/l5ZYhnT+/alFPjktgEKuXxjzsyjy7dMEbPV4ta/aWXcy2hJ+1TtCR/cgA/Fx
 RsaSJDMTLHF1mZ/aigDNNeUksibDhsVYMoOqKBipDLXlftr1AFlD/j7KrFuFlJKb
 mha9/pd3rbzu3RMD/HTXYUaGR6mrKaelpgJFwlg6x9BYkkQ2RzJbSnkL4Waduqay
 sj5CKCtR8l//8EK3LOZfdnGXnXWhGxCb98mh9RpAzsj9xcm+0e4z/XH9+uZm+uxy
 hgcTpAfcOaECDXhpwIuNmyKoKjg6pLw2QkKNqRKI22R/b381EF+D/y9/9pgs/9f+
 bvPfCtWmWXl+jzgAAAAASUVORK5CYII=
